@import '@/assets/scss/variables';

.tf-button {
  width: 108px;
  height: 50px;
  padding: 0.5rem 0.75rem;
  color: $color-white;

  &.is-rounded {
    border-radius: 0.25rem;
  }

  &.x-large {
    width: 240px;
    height: 72px;
    padding: 0.5rem 1rem;
  }

  &.is-secondary {
    background: $color-secondary;
  }

  &.is-dark {
    background: $color-dark;
  }

  &.is-accent {
    background: $color-accent;
  }
}
