@import '@/assets/scss/variables';
@import '@/assets/scss/mixins/text';

.menu-page {
  height: 100%;
  color: $color-white;

  &__title {
    text-align: center;

    @include text-red-shadow;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
}
