@import './variables';
@import './mixins/media';

html {
  overflow-y: auto !important;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  @include media-lg-up {
    width: $container-width;
    margin: 0 auto;
  }
}

.content {
  margin-top: 16px;
}
