$container-width: 1140px;

// colors
$color-white: #fff;
$color-black: #000;

$color-accent: #25292c;
$color-secondary: #272a2c;
$color-dark: #212529;

// typography
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
